.star-real {
    background-color: #121212;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    /* margin-top: 63px; */
}

.cont-real {
    position: relative;
    background-color: #121212;
    color: #d1d1d1;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 100%;
}

.container2,
.container3 {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container2 {
    width: 100%;
    display: block;
    background-color: #121212;
    background-size: cover;
    overflow: hidden;
}
.galaxy-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    gap: 20px;
    z-index: 30;
    opacity: 1;
    transition: all 1s ease-in;
    color: rgb(250, 245, 245);
}
.galaxy-cont p{
    color: rgb(249, 245, 245);
    width: 50%;
    margin: auto;
    font-weight: 800;
}
.container2-child {
    border-radius: 15px;
}

.star-image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
@media(max-width:647px){
    .galaxy-cont p{
        display: none;
    }
}
.star-image-container img {
    width: 100%;
    height: 45vw;
    position: relative;
}


/* Text styling */
.star-phase-content {
    width: 100vw;
}

.content1 {
    display: flex;
    line-height: 1.7;
    flex-direction: column;
    align-items: center;
    color: #d1d1d1;
    padding: 50px;
}

.star-heads h1 {
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    color: white;
}

.star-heads p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

.star-details .star-detail {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
}

.star-details h2 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

.star-details p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.18rem;
}

.present {
    width: inherit;
    height: 45vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.phases1-g {
    border-radius: 60px;
    margin-bottom: 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    color: #d1d1d1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6%;
    background-color: #1b1b1bc0;
}

.phase-link1-g {
    text-align: center;
    color: #d1d1d1;
    border-radius: 0px;
    width: 185px;
    height: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.phase-link1-g:hover {
    color: white;
    transform: scale(1.02);
}



@media(max-width: 1024px) {
    .star-heads h1 {
        font-size: 24px;
    }

    .star-heads p {
        font-size: 16px;
    }

    .star-details h2 {
        font-size: 18px;
    }

    .star-details p {
        font-size: 14px;
    }

    .phase-link1-g {
        width: 170px;
        height: 45px;
        font-size: 10px;
    }
}

@media(max-width: 768px) {
    .star-heads h1 {
        font-size: 24px;
    }

    .star-heads p {
        font-size: 16px;
    }

    .star-details h2 {
        font-size: 18px;
    }

    .star-details p {
        font-size: 14px;
    }

    .phase-link1-g {
        width: 140px;
        height: 45px;
        font-size: 10px;
    }
}

@media(max-width: 480px) {
    .star-heads h1 {
        font-size: 24px;
    }

    .star-heads p {
        font-size: 16px;
    }

    .star-details h2 {
        font-size: 18px;
    }

    .star-details p {
        font-size: 14px;
    }

    .phase-link1-g {
        width: 100px;
        height: 34px;
        font-size: 10px;
    }
}

.container3 {
    width: 100%;
    display: block;
    background:
        url('https://www.transparenttextures.com/patterns/dark-denim.png') no-repeat center center,
        linear-gradient(to bottom, #1a1a1a, #400000, #b22222);
    background-size: auto, cover;
    color: white;
}

.container3-child {
    max-width: 85rem;
    height: 100%;
    padding: 4.5rem 2rem;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.container3-child-set {
    display: block;
    padding: 3rem;
    text-align: center;
}

.heading1 {
    text-align: center;
}

.heading1 h2 {
    font-size: 2.6rem;
    color: #d1d1d1;
}

.container3-child-set h2 {
 
    padding-bottom: 2rem;
}

.container3-child-set p {
    text-align: left;
}

.star-topic {
    text-align: center;
    margin: 2rem 0;
}

.star-topic h2 {
 
    font-size: 2rem;
    margin-bottom: 1rem;
}

.star-head {
    padding-top: 1.5rem;
}

.star-data p {
    font-family: 'Ubuntu', sans-serif;
    line-height: 2rem;
    font-size: 1rem;
    margin: 3rem 0rem;
    color: rgb(255, 255, 255);
}

.star-img-m {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.star-img {
    position: relative;
    width: 100%;
    background-size: contain;
    height: 53vh;
}

.out {
    position: relative;
    justify-items: center;
    text-align: center;
    height: 15%;
    padding-top: 1%;
}

.star-navigation {
    position: absolute;
    top: 90%;
    background-color: transparent;
}

.star-img-m,
.star-navigation {
    width: inherit;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.star-left-button {
    position: absolute;
    cursor: pointer;
    left: 30px;
    border-color: black;
    bottom: 0;
}

.star-right-button {
    position: absolute;
    cursor: pointer;
    right: 45px;
    bottom: 0;
    border-color: black;
}

.star-img {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container3 .star-img img {
    width: 100%;
    height: 80vh;
    max-width: 100%;
}

@media (max-width: 1000px) {
    .star-img img {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .star-img img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .star-img img {
        width: 100%;
    }
}


.pages-s {
    margin-top: 18px;
    height: 50%;
    align-self: flex-start;
}

.pages-s a {
    font-size: 17.5px;
    font-weight: 100;
    color: #d1d1d1;
 
}

.pages-s a:hover {
    color: white;
    transform: scale(1.02);
}

.star-left-button,
.star-right-button {
    background-color: transparent;
    box-shadow: none;
    border: 2px solid transparent;
}

.star-left-button svg,
.star-right-button svg {
    fill: #d1d1d1;
    font-size: 28px;
    transform: scale(1.02);
}

.star-more {
    width: 100px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    top: -1.46%;
    background-color: #000000;
    margin: 30px 0;
}

.phase-more {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

.phase-more:hover {
    background-color: rgba(46, 46, 46, 0.716);
    color: white;
    transform: scale(1.05);
}

.star-more:hover {
    transform: scale(1.05);
}

.data-s {
    /* text-decoration: underline; */
}
.data-s:hover{
    transform: scale(1.03);
    font-weight: bold;
}
.aos-init{
    border-radius: 30px;
}