/* Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.navbar {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

#myCheckboxMenu {
    display: none;
}

.logo {
    margin: 0px 15px;
}

.logo h1 {
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
}

#Cosmic {
    color: rgb(101, 101, 146);
}

#Voyage {
    color: rgb(168, 184, 218);
}

.links {
    margin: 10px 15px;
}

.links ul {
    margin: 5px;
    padding: 5px;
    display: flex;
    list-style: none;
    gap: 20px;
}

.links ul li {
    transition: all 0.3s ease-in-out;
    padding: 5px;
    border-radius: 10px;
}

.links ul li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(150, 158, 175);
}

.links ul li a:hover {
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: -3;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1;
    opacity: 1;
}

.dropdown-menu li {
    padding: 8px 12px;
    white-space: nowrap;
}

.dropdown-menu li a {
    font-size: 16px;
    color: rgb(150, 158, 175);
}

.dropdown-menu li a:hover {
    color: white;
}

.more-text {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: rgb(150, 158, 175);
}

.more-text:hover {
    color: white;
}

.more-icon {
    margin-left: 5px;
}

@media (min-width: 817px) {
    .links-menu {
        display: none;
    }

    .menu-bar {
        display: none;
    }
}

@media (max-width:817px) {
    .links {
        display: none;
    }

    nav {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: rgb(0, 0, 0);
    }

    .logo {
        margin: 15px 15px;
    }

    .menu-bar {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .menu-bar svg {
        font-size: 34px;
        cursor: pointer;
        fill: rgba(122, 122, 122, 0.986);
    }

    .menu-bar svg:hover {
        font-size: 35px;
        fill: white;
    }

    .links-menu {
        transform: translateX(100%);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        width: 80%;
        background-color: rgba(8, 8, 8, 0.986);
        backdrop-filter: blur(4px);
        transition: transform 0.5s ease-in-out;
        padding-top: 10px;
        overflow: scroll;
    }

    .more-text {
        font-size: 25px
    }

    .links-menu ul {
        list-style: none;
        padding: 0px;
    }

    .links-menu li {
        padding: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 25px;
        color: rgb(150, 158, 175);
    }

    .links-menu li:hover {
        background-color: rgba(52, 52, 52, 0.986);
    }

    .links-menu a {
        text-decoration: none;
        color: rgb(150, 158, 175);
    }

    .links-menu li:hover a {
        color: white;
    }

    .links-menu li svg {
        vertical-align: middle;
        margin-right: 10px;
    }

    #myCheckboxMenu:checked+.links-menu {
        transform: translateX(0);
    }

    .dropdown-menu {
        display: block;
        position: static;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

    .dropdown-menu li a {
        font-size: 20px;
    }

    .menu-cross {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
    }

    .menu-cross svg {
        font-size: 34px;
        cursor: pointer;
        fill: rgba(122, 122, 122, 0.986);
    }

    .menu-cross svg:hover {
        font-size: 35px;
        fill: white;
    }
}