/* Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.navbar {

    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

#myCheckboxMenu {
    display: none;
}

.logo {
    margin: 0px 15px;
}

.logo h1 {

    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
}

#Cosmic {
    color: rgb(101, 101, 146);
}

#Voyage {
    color: rgb(168, 184, 218);
}

.links {
    margin: 10px 15px;
}

.links ul {
    margin: 5px;
    padding: 5px;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.links ul li {
    transition: all 0.3s ease-in-out;
    padding: 5px;
    border-radius: 10px;
}

.links ul li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(150, 158, 175);
    transition: color 0.3s ease;
}

.links ul li a:hover {
    color: white;
}


@media (min-width:577px) {
    .links-menu {
        display: none;
    }

    .menu-bar {
        display: none;
    }
}

@media (max-width:576px) {
    .links {
        display: none;
    }

    nav {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: rgb(0, 0, 0);
    }

    .logo {
        margin: 15px 15px;
    }

    .menu-bar {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .menu-bar svg {
        font-size: 34px;
        cursor: pointer;
        fill: rgba(122, 122, 122, 0.986);
        transition: all 0.3s ease;
    }

    .menu-bar svg:hover {
        font-size: 35px;
        fill: white;
    }

    .links-menu {
        transform: translateX(100%);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60vw;
        max-width: 300px;
        background-color: rgba(0, 0, 0, 0.938);
        transition: transform 0.4s ease-in-out;
        z-index: 101;
        overflow-y: auto;

    }

    .links-menu ul {
        position: relative;
        top: 60px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .menu-cross {
        position: absolute;
        top: 10px;
        left: 10px;
        margin-bottom: 30px;
    }

    .menu-cross svg {
        fill: rgba(122, 122, 122, 0.986);
        font-size: 30px;
        cursor: pointer;
    }

    .menu-cross svg:hover {
        font-size: 32px;
        fill: white;
    }

    .links-menu ul li {
        height: 50px;
        padding: 0px 15px;
        margin-top: .1rem;
    }

    .links-menu ul li svg {
        position: relative;
        top: 5px;
        padding-right: 15px;
    }

    .links-menu ul li:hover {
        border: 2px;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }

    #myCheckboxMenu:checked~.links-menu {
        transform: translateX(0);
    }

    #myCheckboxMenu:checked~.menu-bar {
        opacity: 0;
    }
}

/* Add your existing CSS here */

.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #24262b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar .dropdown-content a:hover {
    background-color: #38393b;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.nav-more{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: black;
    border: none;
    color: rgb(150, 158, 175);
    font-size: 20px;
}
