.scroll-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scroll-content-container {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

.scroll-content {
  flex: 0 0 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

#scroll-content1 {
  background: linear-gradient(65.99deg, rgba(0, 0, 0, 0.7) 0%, transparent 99.04%), url('planets.jpg') center no-repeat;
  background-size: cover;

}

#scroll-content2 {
  background: linear-gradient(65.99deg, rgba(0, 0, 0, 0.7) 0%, transparent 99.04%), url('star.webp') center no-repeat;
  background-size: cover;

}

#scroll-content3 {
  background: linear-gradient(65.99deg, rgba(0, 0, 0, 0.7) 0%, transparent 99.04%), url('galaxy.jpg') center no-repeat;
  background-size: cover;

}


#scroll-content4 {
  background: linear-gradient(65.99deg, rgba(0, 0, 0, 0.7) 0%, transparent 99.04%), url('const.jpeg') center no-repeat;
  background-size: cover;

}

#entity {
  position: absolute;
  bottom: 20vh;
  left: 5vh;
}

.text {
  color: white;
  font: 32px / 36px D-DIN-Bold, Arial, Verdana, sans-serif;
  margin-bottom: 40px;
}

.b1 {
  border: 2px solid white;
  position: relative;
  width: 170px;
  height: 50px;
  background-color: #00000050;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: color 0.5s ease;
}

.link {
  color: white;
  font: 16px / 24px D-DIN-Medium, Arial, Verdana, sans-serif;
  font-size: 18px;
  z-index: 1;
  transition: color 0.5s ease;
}

.b1::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: top 0.5s ease;
}

.b1:hover::before {
  top: 0;
}

.b1:hover .link {
  color: black;
}

.scroll-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* padding: 0 30px; */
}

#but-left {
  margin-left: 15px;
}

#but-right {
  margin-right: 10px;
}

#but-left svg {
  font-size: 50px;
  fill: rgb(136, 136, 136);
}

#but-right svg {
  font-size: 50px;
  fill: rgb(136, 136, 136);
}

#but-left svg:hover {
  fill: white;
  font-size: 51px;
}

#but-right svg:hover {
  font-size: 51px;
  fill: white;
}

.scroll-controls button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  /* Make the buttons more visible */
}

.b1 a {
  text-decoration: none;
}

@media (max-width:350px){
#entity{
  left: 3vh;
}
}
