.space-center {
    position: relative;
    width: 100%;
    height: 100vh;
    background:   linear-gradient(65.99deg, rgba(0, 0, 0, 0.7) 0%, transparent 99.04%), url(space2.jpg) center no-repeat;
    background-size: cover;
}

.box {
    position: absolute;
    bottom: 30vh;
    left: 3vh;
}

.text {
    color: white;
    font: 32px / 36px D-DIN-Bold, Arial, Verdana, sans-serif;
    margin-bottom: 40px;
}

.b1 {
    border: 2px solid white;
    position: relative;
    width: 170px;
    height: 50px;
    background-color: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: color 0.5s ease;
}

.link {
    color: white;
    font: 16px / 24px D-DIN-Medium, Arial, Verdana, sans-serif;
    font-size: 18px;
    z-index: 1;
    transition: color 0.5s ease;
}

.b1::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: top 0.5s ease;
}

.b1:hover::before {
    top: 0;
}

.b1:hover .link {
    color: black;
}