/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pt {
    color: whitesmoke;
    width: 100%;
    display: flex;
    bottom: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.opacity-manager {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: 0;
    opacity: 0.75;
}


.planet {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
    animation: rotate 10s linear infinite;
    background-repeat: repeat;
    background-size: 200% 100%;
    z-index: 1;
    margin: auto;
}

.sun {
    width: 22rem;
    height: 22rem;
    background-image: url("Images/planet-3.jpg");
    box-shadow: inset -2em -2em 2em rgb(9, 9, 9), -0.5em -0.5em 1em #0a0856;
}



.mercury {
    background-image: url("Images/planet-1.jpg");
    box-shadow: inset -2em -2em 2em rgb(9, 9, 9), -0.5em -0.5em 1em rgba(133, 133, 133, 1);
}

.venus {
    background-image: url("Images/planet-2.jpg");
    box-shadow: inset -2em -2em 2em rgb(9, 9, 9), -0.5em -0.5em 1em #f5ca67;
}

.earth {
    background-image: url("Images/planet-3.jpg");
    box-shadow: inset -2em -2em 2em rgb(9, 9, 9), -0.5em -0.5em 1em rgb(11, 11, 126);
}

.mars {
    background-image: url("Images/planet-4.jpg");
    box-shadow: inset -2em -2em 2em rgb(9, 9, 9), -0.5em -0.5em 1em #99503b;
}

.jupiter {
    background-image: url("Images/planet-5.jpg");
    box-shadow: inset -2em -2em 2em rgb(9, 9, 9), -0.5em -0.5em 1em #c1cdd2;
}

.saturn {
    z-index: 1;
    background-image: url("Images/planet-6.jpg");
    box-shadow: inset -2em -2em 2em rgb(9, 9, 9), -0.2em -0.2em 1em #f7ddb6;
}

.ring-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10rem;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: rotate 10s linear infinite reverse;
}

.ring {
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1), 0 0 10px 10px rgba(255, 255, 255, 0.1), 0 0 15px 15px rgba(255, 255, 255, 0.1), 0 0 20px 20px rgba(255, 255, 255, 0.1);
    opacity: 0.7;
    transform-style: preserve-3d;
}

.ring1 {
    width: 14rem;
    height: 14rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotateX(80deg)rotateY(-20deg);
}

.ring2 {
    width: 16rem;
    height: 16rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotateX(80deg)rotateY(-20deg);
}

.ring3 {
    width: 20rem;
    height: 18rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotateX(80deg)rotateY(-20deg);
}

.uranus {
    background-image: url("Images/planet-7.jpg");
    box-shadow: inset -2em -2em 2em rgb(9, 9, 9), -0.5em -0.5em 1em #50909a;
}

.neptune {
    background-image: url("Images/planet-8.jpg");
    box-shadow: inset -2em -2em 2em rgb(9, 9, 9), -0.5em -0.5em 1em #355fb1;
}


.card {
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: center;
    margin: 15px;
    height: 200px;
    width: 300px;
    padding: 10px;
    border-radius: 7px;
    background-color: black;
    position: relative;
    cursor: pointer;
    background-color: #242424a8;
    transition: all 0.5s ease-in-out;
}



.card img {
    opacity: 0;
    width: 100%;
    object-fit: contain;
}

.planet-manager {
    position: absolute;
    height: inherit;
    border-radius: 50%;
    background-color: rgba(25, 23, 23, 0.201);
    z-index: 1;
}


@keyframes rotate {
    to {
        background-position: -200% 0;
    }
}

.header {
    color: whitesmoke;
    width: 100%;
    text-align: center;
    background-color: rgb(49, 48, 45);
    padding: 8px 0px;
}

.planet-info {
    margin: 60px 0px 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heads {
    margin: 25px;
    gap: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heads p {
    font-size: 15px;
    width: 100%;
}

.details {
    margin: 25px;
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 23px;
}

.details h2 {
    font-size: 15px;
}

.details p {
    font-size: 25px;
}



.content {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 50%;
    background-color: #514a4a4a;
    min-height: 450px;
    margin: 23px;
    border-radius: 20px;
}

@media (min-width:576px) and (max-width:1032px) {
    .sun {
        margin: 26px 0px;
        width: 20rem;
        height: 20rem;
    }
}

@media (max-width:820px) {
    .content {
        width: 90%;
        min-height: 350px;
    }
}

.sun-ring-container {
    display: none;
}

.sun-ring-1 {
    width: 25rem;
}

.sun-ring-2 {
    width: 30rem;
}

.sun-ring-3 {
    width: 35rem;
}

@media (max-width:1132px) {
    .planet-info {
        flex-direction: column;

    }

    .content {
        width: 94%;
        margin: 23px 0px;

    }
}

@media (min-width:460px) and (max-width:575px) {
    .sun {
        width: 15rem;
        height: 15rem;
    }

    .sun-ring-3 {
        width: 25rem;

    }

    .sun-ring-2 {
        width: 22rem;

    }

    .sun-ring-1 {
        width: 19rem;
    }
}

@media (max-width:459px) {
    .sun {
        width: 13rem;
        height: 13rem;
    }

    .sun-ring-3 {
        width: 22rem;
    }

    .sun-ring-2 {
        width: 19rem;
    }

    .sun-ring-1 {
        width: 16rem;
    }
}

@media(min-width:1448px) {
    .pt {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }
}

.hover-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 30;
    background-color: rgb(43, 43, 43);
    /* margin: 0px; */
    opacity: 0;
    transition: all 0.5s;
}

.card:hover {
    .hover-card {
        width: 320px;
        opacity: 0.8;
    }
}