/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.cosmic {
    color: black;
}

.voyage {
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.Container {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.ct {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ct h1 {
    opacity: 0;
    position: relative;
    top: 140px;
    font-family: 'Orbitron', sans-serif;
    margin: 15px;
    color: black;
    transition: all 0.7s ease-in;
}

.ct p {
    opacity: 0;
    text-align: center;
    position: relative;
    top: 140px;
    width: 90%;
    margin: 15px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: 24px;
    transition: all 0.7s ease-in;
}


.ct::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url("src\\Components\\HomePage\\HomeImages\\Eva_Suit_Desktop_alternate_1cf9bae18e.jpg") center no-repeat;
    background-size: cover;
}

@media (max-width:800px) {
    .ct p {
        display: none;
    }
}

