*{
    margin: 0;
    padding: 0;
}
.Container{
    width: 100%;
    height: 100vh;
    background:url("src\\Components\\Home page\\pexels-jaymantri-5439.jpg") center no-repeat ;
    background-size: cover;
}
.images::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 85vh;
    background: url("src\\Components\\Home page\\Eva_Suit_Desktop_alternate_1cf9bae18e.jpg") center no-repeat;
    background-size: cover;
    opacity: 0.3;
}
