.space-centers {
    width: 100%;
    position: relative;
}

.sc-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    z-index: 30;
    color: white;
    opacity: 1;
    transition: all 1s ease-in;
}

.sc-hero h1 {
    font-size: 3em;
}

.sc-hero p {
    font-size: 1.0em;
}

@media(max-width:450px) {
    .sc-hero h1 {
        font-size: 1.5em;
    }

    .sc-hero p {
        font-size: 0.8em;
    }
}

@media(max-width:665px) {



    .sc-hero h1 {
        font-size: 2em;
    }

    .sc-hero p {
        font-size: 0.8em;
    }
}

.video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 0;
}

video {
    position: relative;
    width: 100%;
}

.nasa {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.i1 {
    position: relative;
    justify-items: center;
    background:
        linear-gradient(65.99deg, rgba(0, 0, 0, 0.7) 0%, transparent 99.04%),
        url('CenterImage/nasa.jpg') center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 90vh;
    width: 100%;
}

.spacex .i1 {
    position: relative;
    justify-items: center;
    background:
        linear-gradient(65.99deg, rgba(0, 0, 0, 0.7) 0%, transparent 99.04%),
        url('CenterImage/spacex.webp') center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 90vh;
    width: 100%;
}

.isro .i1 {
    position: relative;
    justify-items: center;
    background:
        linear-gradient(65.99deg, rgba(0, 0, 0, 0.7) 0%, transparent 99.04%),
        url('CenterImage/isro.webp') center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 90vh;
    width: 100%;
}

.parent {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    padding: 4.5rem 0;
    display: flex;
}

.grid {
    padding: 4.5rem 1.5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 85rem;
}

.details1 {
    display: flex;
    height: inherit;
    color: white;
    background-color: transparent;
}

.row1 {
    flex: 0 1 auto;
}

.row-content {
    margin: 0;
    display: block;
}

.row-content h2 {
    font-weight: 800;
    line-height: 1;
    font-size: 5rem;
    font-family: "inter", sans-serif;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.row-content p {
    font-size: 1.1rem;
    line-height: 1.65em;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: "Public Sans Web", sans-serif;
}

.empty {
    width: 50%;
}

.sc-box {
    width: 100%;
    display: block;
    background-color: white;
}

#myCheckboxNASA,
#myCheckboxSpaceX,
#myCheckboxISRO {
    display: none;
}

.sc-box-child {
    height: 100%;
    max-width: 85rem;
    padding: 4.5rem 2rem;
    margin-left: auto;
    margin-right: auto;
}

.sc-box-content {
    display: flex;
}

.sc-topic {
    width: 50%;
}

.topic-heading h3 {
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.05em;
}

.topic-main p {
    line-height: 2rem;
    font-size: 1rem;
    font-family: "Public Sans Web", sans-serif;
    margin: 3rem 0rem;
}

.topic-footer {
    margin: 1rem 0;
}

.topic-footer a {
    text-decoration: underline;
}

.topic-footer label {
    color: black;
    text-decoration: underline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.topic-footer label:hover {
    font-weight: 400;
}

.topic-footer a:hover {
    font-weight: 400;
}

.sc-img {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}

#myCheckboxNASA:checked~.sc-box label {
    display: none;
}

#myCheckboxSpaceX:checked~.sc-box label {
    display: none;
}

#myCheckboxISRO:checked~.sc-box label {
    display: none;
}

.tt {
    position: relative;
    background-color: #17171b;
}

.sc-img-child {
    background: url("CenterImage/space1.jpg") center no-repeat;
    position: relative;
    width: 100%;
    background-size: contain;
    height: 400px;
}

.sc-slide-box {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.sc-slide-box.expanded {
    max-height: 100vh;
}

.sc-slide-box2,
.sc-slide-box3 {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.sc-slide-box2.expanded {
    max-height: 100vh;
}

.sc-slide-box3.expanded {
    max-height: 100vh;
}

.cross,
.cross2,
.cross3 {
    position: relative;
    left: 30px;
    top: 20px;
    height: 34px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.cross label,
.cross2 label,
.cross3 label {
    height: 24px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 6px;
    position: absolute;
    left: 0;
}

.wrong svg {
    fill: white;
}

.sc-slide-child {
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.sc-slide-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px auto;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.ksc-img {
    background: url("CenterImage/ksc.webp") center no-repeat;
    position: relative;
    width: 100%;
    background-size: contain;
    height: 40vh;
}

.jsc-img {
    background: url("CenterImage/jsc.jpg") center no-repeat;
    position: relative;
    width: 100%;
    height: 40vh;
    background-size: contain;
}

.jpl-img {
    background: url("CenterImage/jpl.jpg") center no-repeat;
    position: relative;
    width: 100%;
    background-size: contain;
    height: 40vh;
}


.spacex-img-child {
    background: url("CenterImage/space2.jpg") center no-repeat;
    position: relative;
    width: 100%;
    background-size: contain;
    height: 400px;
}

.isro-img-child {
    background: url("CenterImage/space3.jpg") center no-repeat;
    position: relative;
    width: 100%;
    background-size: contain;
    height: 400px;
}

.falcon-img {
    background: url("CenterImage/falcon.jpeg") center no-repeat;
    position: relative;
    width: 100%;
    background-size: contain;
    height: 40vh;
}

.dragon-img {
    background: url("CenterImage/dragon.webp") center no-repeat;
    position: relative;
    width: 100%;
    background-size: contain;
    height: 34vh;
}

.starship-img {
    background: url("CenterImage/starship.webp") center no-repeat;
    position: relative;
    width: 100%;
    background-size: contain;
    height: 40vh;
}

.chandrayaan-img {
    background: url("CenterImage/chandrayaan.jpg") center no-repeat;
    position: relative;
    width: 93%;
    background-size: contain;
    height: 40vh;
}

.mangalyaan-img {
    background: url("CenterImage/Mangalyaan.jpeg") center no-repeat;
    position: relative;
    width: 93%;
    background-size: contain;
    height: 40vh;
}

.aditya-img {
    background: url("CenterImage/adithya.webp") center no-repeat;
    position: relative;
    width: 93%;
    background-size: contain;
    height: 40vh;
}

.color {
    color: white;
}

.colorp {
    color: #d1d1d1;
}

.topic-footer .colorp:hover {
    color: white;
}

.flex1 {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width:576px) {
    .row-content h2 {
        font-size: 3rem;
    }

    .row-content p {
        font-size: 1rem;
    }
}

@media(max-width:1023px) {
    .row1 {
        width: 100%;
    }

    .empty {
        display: none;
    }
}

@media(max-width:1131px) {
    .sc-box-content {
        display: flex;
        flex-direction: column;
    }

    .sc-topic {
        width: 100%;
    }

    .sc-img {
        height: 50vw;
        width: 100%;
    }

    .sc-img-child,
    .ksc-img,
    .jsc-img,
    .jpl-img,
    .spacex-img-child,
    .isro-img-child,
    .falcon-img,
    .dragon-img,
    .starship-img,
    .chandrayaan-img,
    .aditya-img,
    .mangalyaan-img {
        background: url("CenterImage/space1.jpg") center no-repeat;
        background-size: cover;
        height: inherit;
        transform: scale(1);
        transform-origin: 50% 50%;
        object-position: 50% 50%;
        object-fit: cover;
        position: relative;
        display: block;
        width: 100%;
    }

    .ksc-img {
        background: url("CenterImage/ksc.webp") center no-repeat;
        background-size: cover;
    }

    .spacex-img-child {
        background: url("CenterImage/space2.jpg") center no-repeat;
        background-size: cover;
    }

    .isro-img-child {
        background: url("CenterImage/space3.jpg") center no-repeat;
        background-size: cover;
    }

    .jsc-img {
        background: url("CenterImage/jsc.jpg") center no-repeat;
        background-size: cover;
    }

    .jpl-img {
        background: url("CenterImage/jpl.jpg") center no-repeat;
        background-size: cover;
    }

    .falcon-img {
        background: url("CenterImage/falcon.jpeg") center no-repeat;
        background-size: cover;
    }

    .dragon-img {
        background: url("CenterImage/dragon.webp") center no-repeat;
        background-size: cover;
    }

    .starship-img {
        background: url("CenterImage/starship.webp") center no-repeat;
        background-size: cover;
    }

    .chandrayaan-img {
        background: url("CenterImage/chandrayaan.jpg") center no-repeat;
        background-size: cover;
    }

    .mangalyaan-img {
        background: url("CenterImage/Mangalyaan.jpeg") center no-repeat;
        background-size: cover;
    }

    .aditya-img {
        background: url("CenterImage/adithya.webp") center no-repeat;
        background-size: cover;
    }

    .topic-heading h3 {
        margin-top: 15px;
    }

    .sc-box-child {
        padding: 3rem;
    }
}