
.news-content {
    margin: 23px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-cards {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 30px;
}

.news-card {
    display: flex;
}

.news-card img {
    width: 12rem;
}

.abt-news {
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    gap: 30px;
    justify-content: center;
}

.abt-news h2 {
    font-size: 1.3rem;
}

.abt-news p {
    font-size: 1.02rem;
}
.abt-news a{
    color: black;
}

@media (max-width:970px) {
    .news-card img {
        width: 100%;
    }

    .news-card {
        flex-direction: column;
        gap: 20px;
    }

    .abt-news {
        padding: 0px;
    }
}
.pagination{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5px;
}
.pages{
    width: fit-content;
    margin:  10px auto;
    background-color: white
}
.pages ul li a{
    width: fit-content;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    color: rgb(102, 105, 107);
    font-weight: 200;
}
.pages ul li a:hover{
    color: black;
    font-weight: 400;
}
